/* ====================== 全局设置 ====================== */
* {
    font-family: "GohuFont 11 Nerd Font Propo";
    font-size: 12px;
    font-weight: bold;
    min-height: 0;
    border-radius: 0px;
}

/* *:not(#workspaces) { */
/* } */

/* ====================== 主窗口 ====================== */
window#waybar {
    background: rgba(0, 0, 0, 0.8);
}

/* ====================== 工具提示 ====================== */
tooltip {
    background: rgba(0, 0, 0, 0.8);
    text-shadow: 0 0 0 transparent;
    padding: 0 0 0 0; /* up right down left*/
}

tooltip * {
    color: #ffffff;
}

/* ====================== 通用模块样式 ====================== */
#custom-launcher,
#workspaces button,
#mpris,
#bluetooth,
#clock,
#tray,
#cpu,
#memory,
#backlight,
#battery,
#pulseaudio,
#network,
#custom-updates {
    margin: 5px 0px 5px 0px; /* up right down left */
    padding: 0px 0px;
    border-radius: 100px;
    color: #ffffff;
}

/* ====================== 特殊模块样式 ====================== */
#custom-launcher {
    margin-left: 6px;
    padding-right: 10px;
    padding-left: 10px;
    color: #ffffff;
}

#network {
    margin-right: 6px;
    padding-right: 10px;
    /*padding-left: 10px;*/
    color: #ffffff;
}

#backlight {
    /*padding-right: 10px;*/
    /*padding-left: 10px;*/
    color: #ffffff;
}

#pulseaudio {
    padding-right: 10px;
    /*padding-left: 10px;*/
    color: #ffffff;
}

#memory {
    padding-right: 10px;
    /*padding-left: 10px;*/
    color: #ffffff;
}

#cpu {
    padding-right: 10px;
    padding-left: 10px;
    color: #ffffff;
}

#clock {
    padding-right: 10px;
    padding-left: 10px;
    color: #ffffff;
}

#mpris {
    padding-left: 10px;
    color: #ffffff;
}

/* ====================== 工作区 ====================== */
#workspaces {
    padding-left: 4px;
    color: #ffffff;
}

#workspaces button {
    margin-left: 3px;
    padding: 0 7px;
    transition: all 0.1s ease;
    color: #ffffff;
}

#workspaces button.empty {
    padding: 0 10px;
    color: #ffffff;
}

#workspaces button.active {
    color: yellowgreen;
}

/* ====================== 电池警告动画 ====================== */
@keyframes blink {
    to {
        background-color: #e64553;
    }
}

#battery {
    padding-right: 10px;
    padding-left: 10px;
}

#battery.warning:not(.charging) {
    color: #fab387;
}

#battery.critical:not(.charging) {
    color: #f9e2af;
    animation: blink 4s linear infinite alternate;
}

/* ====================== 系统托盘 ====================== */
#tray {
    padding-right: 7px;
    padding-left: 7px;
}

#tray menu {
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
}
