/* ====================== 全局设置 ====================== */
* {
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 14px;
    font-weight: bold;
    min-height: 0;
    color: #000000;
    border-radius: 0px;
    /* text-shadow: 0 0 0 grey; */
}

/* ====================== 主窗口 ====================== */
window#waybar {
    /* background: transparent; */
    background: rgba(255, 255, 255, 0.8);
}

/* ====================== 工具提示 ====================== */
tooltip {
    background: rgba(255, 255, 255, 0.9);
    color: #000000;
    text-shadow: 0 0 0 transparent;
    padding: 0 0 0 0; /* up right down left*/
    
    /* border: 2px solid #c0caf5; */
    /* border-radius: 5px; */
}

/* ====================== 通用模块样式 ====================== */
#custom-launcher,
#workspaces button,
#mpris,
#privacy-item,
#bluetooth,
#clock,
#tray,
#cpu,
#memory,
#backlight,
#battery,
#pulseaudio,
#gamemode,
#language,
#network,
#custom-updates {
    /* background: rgba(255, 255, 255, 0); */
    /* box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4); */
    margin: 5px 0px 5px 0px; /* up right down left */
    padding: 0px 0px;
    /* border: 2px solid rgba(240, 192, 169, 0.6); */
    border-radius: 100px;
}

/* ====================== 特殊模块样式 ====================== */
#custom-launcher {
    margin-left: 6px;
    padding-right: 10px;
    padding-left: 10px;
}

#network {
    margin-right: 6px;
    padding-right: 10px;
    padding-left: 10px;
}

#language {
    padding-right: 10px;
    padding-left: 10px;
}

#bluetooth {
}

#backlight {
    padding-right: 10px;
    padding-left: 10px;
}

#pulseaudio {
    padding-right: 10px;
    padding-left: 10px;
}

#memory {
    padding-right: 10px;
    padding-left: 10px;
}

#cpu {
    padding-right: 10px;
    padding-left: 10px;
}

#clock {
    padding-right: 10px;
    padding-left: 10px;
}

#privacy-item {
    background: #e64553;
    padding-right: 10px;
    padding-left: 10px;
}

#custom-updates {
    /* padding-right: 10px; */
    /* padding-left: 10px; */
}

/* ====================== 工作区 ====================== */
#workspaces {
    padding-left: 4px;
}

#workspaces button {
    margin-left: 3px;
    padding: 0 7px;
    transition: all 0.1s ease;
}

#workspaces button.empty {
    padding: 0 10px;
}

#workspaces button.active {
    border-color: rgba(0, 0, 0, 0.7);
}

#workspaces button:hover {
}

/* ====================== 电池警告动画 ====================== */
@keyframes blink {
    to {
        background-color: #e64553;
    }
}

#battery {
    padding-right: 10px;
    padding-left: 10px;
}

#battery.warning:not(.charging) {
    color: #fab387;
}

#battery.critical:not(.charging) {
    color: #f9e2af;
    animation: blink 2s linear infinite alternate;
}

/* ====================== 系统托盘 ====================== */
#tray {
    padding-right: 7px;
    padding-left: 7px;
}

#tray menu {
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
}
