* {
    font-family: "GohuFont 14 Nerd Font Mono";
    font-size: 14px;
    font-weight: bold;
    min-height: 0;
    text-shadow: 0 0 0 grey;
}

window {
    margin: 2px;
    /* border: 2px solid #ffd6e0; */
    background-color: rgba(0, 0, 0, 0);
    size: 800 1600;
}

#input {
    padding: 4px;
    margin: 15px;
    padding-left: 20px;
    border: none;
    color: #4c4f69;
    /* color: #cdd6f4; */
    background-color: transparent;
    box-shadow: none;
    font: bold;
}

#inner-box {
    margin: 0px 12px 4px 12px;
}

/* background */
#outer-box {
    margin: 0px;
    /* border: 2px solid #7c7f93; */
    /* background-color: rgba(255, 255, 255, 0.7); */
    background-color: rgba(0, 0, 0, 0.7);
}

#scroll {
    margin: 0px;
    border: none;
}

#text:selected {
    color: #f2cdcd;
    margin: 0px 0px;
    border: none;
}

#entry {
    padding: 8px 10px;
    margin: 0px 0px;
    border: none;
    background-color: transparent;
    color: #4c4f69;
}

#entry:selected {
    margin: 0px 0px;
    border: none;
    background-color: #45475a;
    color: #4c4f69;
}

image {
    margin-right: 10px;
}

